.Intro{
  height: 91.4vh;
  position: relative;
}
.Intro::before{
  content:'';
  background-image: url('./books.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.Intro .row{
  position: relative;
  padding: 0px 30px;
  width: 100%;
  justify-content: center;
}
.Intro .row .col{
  text-align: center;
}
.Intro .row .col p{
  font-weight: bold;
  color: white;
}
.Intro .row .col h1{
  color: white;
}
.Intro .row .col button{
  padding: 10px 15px;
  border-radius: 25px;
}